# Dependencies
node_modules/
frontend/node_modules/

# Python virtual environment
venv/
.venv/
env/

# Build outputs
frontend/build/
frontend/dist/
dist/
build/
*.egg-info/

# Coverage
htmlcov/
.coverage
*.sav
*.pyc

**/.env
**/.env.*
!**/.env.example


# Vite
.vite/
frontend/.vite/

jupyter_test/fraudTest.csv
*.csv
